body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #121212;
       color: #eee;
    }

    .upload-container {
        max-width: 600px;
        margin: 40px auto 0 auto; /* Добавлен верхний отступ */
        background-color: #1e1e1e;
        padding: 30px 20px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.6);
    }


    h1 {
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 6px;
        color: #ccc;
        font-weight: 500;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"],
    input[type="url"],
    input[type="file"],
    textarea {
        width: 90%;
        padding: 10px 12px;
        border: none;
        border-radius: 6px;
        background-color: #2a2a2a;
        color: #fff;
        font-size: 15px;
    }

    input[type="file"] {
        padding: 8px;
        color: #ccc;
    }

    textarea {
        resize: vertical;
    }

    button {
       width: 100%;
       padding: 14px;
       font-size: 16px;
      background-color: #2f80ed;
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;;
    }

    button:hover {
        background-color: #1c60c2;
    }

    .navbar {
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.nav-links a {
  color: #ccc;
  margin-left: 16px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background 0.2s;
}

.nav-links a:hover {
  background-color: #2a2a2a;
}